<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- define the dependency -->
    <bean id="bB"
    		class="com.Spring.baseBall">
    		<property name="thefortune" ref="Fs"/>
    		<property name="no" value="008"/>
    		<property name="name" value="James"/>
    </bean>
    
    <bean id="cC"
    		class="com.Spring.Cricket">
    		<property name="thefortune" ref="Fs"/>
    		<property name="no" value="007"/>
    		<property name="name" value="Bond"/>
    </bean>
    <bean id="Fs"
    		class="com.Spring.DailyFortune">
    </bean>
</beans>

